<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <figure class="effect-zoe">
        <img src={{artworkUrl}} alt=""/>
            <figcaption>
                <h5><a href={{url}} alt={{name}}>{{name}}</a>
                    <span><p><a href={{artist.url}} alt={{artist.name}}>{{artist.name}}</a></p></span>
                </h5>
                <p class="icon-links">
                    <a href="{{groovesharkLink}}" target="_blank">
                        {{!-- <img class="social-icon" src="images/svg/youtube.svg" alt="Youtube search"></img> --}}
                        <svg class="social-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1024 1024" >
                            <path d="M512 61.389c-248.883 0-450.56 201.728-450.56 450.611 0 248.781 201.677 450.611 450.611 450.611 248.832 0 450.56-201.779 450.56-450.611-0.051-248.883-201.728-450.611-450.611-450.611zM693.146 529.306c-24.371-34.099-49.306-67.584-76.646-99.277-25.651-29.901-52.941-58.419-82.637-84.224-29.594-25.805-61.85-50.278-97.28-67.379-23.808-11.52-48.333-20.122-73.677-27.443-2.867-0.768-10.65-4.301-12.902-0.768-1.434 2.202-0.307 6.298-0.102 8.704 0.717 5.274 1.331 10.496 1.997 15.77 7.578 62.874 10.445 129.28-9.114 190.413-10.445 32.922-29.594 62.976-55.040 86.323-21.146 19.405-51.302 38.912-81.254 37.478-5.53-0.205-11.162-1.178-16.589-3.021-32.051-10.803-33.946-45.363-34.15-73.882-0.205-30.618 3.482-61.184 11.059-90.88 2.304-9.114 5.171-18.074 8.192-26.982 35.072-101.683 116.224-184.422 218.061-220.518 38.093-13.517 78.438-20.326 118.938-20.326 119.091 0 232.397 61.184 297.83 160.614 16.384 24.986 29.542 52.019 39.219 80.179h-0.154c3.123 8.909 5.99 17.92 8.346 26.982 7.475 29.696 11.264 60.314 11.059 90.88-0.41 57.6-18.944 121.19-91.29 90.675-34.15-14.438-62.669-43.622-83.866-73.318z"/>
                        </svg>
                    </a>

                    <a href="{{youtubeLink}}" target="_blank">
                        {{!-- <img class="social-icon" src="images/svg/youtube.svg" alt="Youtube search"></img> --}}
                        <svg class="social-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1024 1024" >
                            <path d="M15.429 729.143q0-133.714 14.857-200 8-33.714 33.143-56.571t58.857-26.857q104.571-11.429 316.571-11.429t317.143 11.429q33.143 4 58.571 26.857t32.857 56.571q14.857 64 14.857 200 0 133.714-14.857 200-8 33.714-33.143 56.571t-58.286 26.286q-105.143 12-317.143 12t-317.143-12q-33.143-3.429-58.571-26.286t-32.857-56.571q-14.857-64-14.857-200zM78.857 586.857h60v325.143h57.143v-325.143h61.143v-53.714h-178.286v53.714zM152 0h60.571l40.571 150.286 38.857-150.286h58.286l-69.143 228v154.857h-57.143v-154.857q-8-42.286-34.857-121.143-21.143-58.857-37.143-106.857zM264.571 853.143q0 28 4.571 41.714 6.857 21.143 33.143 21.143 27.429 0 58.286-34.857v30.857h50.857v-282.286h-50.857v216q-17.143 24-32.571 24-10.286 0-12-12-0.571-1.714-0.571-20v-208h-50.857v223.429zM350.857 290.286v-100q0-45.714 16-66.857 21.714-29.143 60-29.143 39.429 0 60.571 29.143 16 21.143 16 66.857v100q0 46.286-16 67.429-21.143 29.143-60.571 29.143-38.286 0-60-29.143-16-21.714-16-67.429zM402.286 300q0 40 24.571 40t24.571-40v-120q0-39.429-24.571-39.429t-24.571 39.429v120zM456 912h50.857v-27.429q25.714 31.429 53.143 31.429 30.857 0 40.571-31.429 5.143-15.429 5.143-57.143v-112.571q0-41.714-5.143-56.571-9.714-32-40.571-32-28.571 0-53.143 30.857v-124h-50.857v378.857zM506.857 857.143v-172q12.571-12.571 25.714-12.571 22.286 0 22.286 38.286v120.571q0 38.286-22.286 38.286-13.143 0-25.714-12.571zM545.714 322.857v-225.143h52v209.714q0 18.857 0.571 20 1.714 12.571 12 12.571 15.429 0 32.571-24.571v-217.714h52v285.143h-52v-31.429q-30.286 35.429-58.857 35.429-26.286 0-33.714-21.143-4.571-13.714-4.571-42.857zM645.714 820.571q0 45.143 16.571 66.286 22.286 29.143 61.714 29.143 41.143 0 61.714-30.286 10.286-15.429 12-30.857 1.143-5.143 1.143-33.143v-7.429h-52q0 29.143-1.143 34.857-4 20.571-22.857 20.571-26.286 0-26.286-39.429v-49.714h102.286v-58.857q0-45.143-15.429-66.286-22.286-29.143-60.571-29.143-38.857 0-61.143 29.143-16 21.143-16 66.286v98.857zM696.571 737.714v-26.286q0-38.857 25.714-38.857t25.714 38.857v26.286h-51.429z"/>
                        </svg>
                    </a>
                    
                    {{#if spotifyURI}}
                    <a href="{{spotifyURI}}" target="_blank">
                        {{!-- <img class="social-icon" src="images/svg/spotify.svg" alt="Spotify URL"></img> --}}
                        <svg class="social-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1024 1024" >
                            <path d="M0 512q0-119.429 58.857-220.286t159.714-159.714 220.286-58.857 220.286 58.857 159.714 159.714 58.857 220.286-58.857 220.286-159.714 159.714-220.286 58.857-220.286-58.857-159.714-159.714-58.857-220.286zM135.429 371.429q0 17.714 11.714 29.714t29.429 12q6.286 0 22.857-4.571 76-21.143 175.429-21.143 90.857 0 176.857 19.429t144.857 54.286q12 6.857 22.857 6.857 16.571 0 28.857-11.714t12.286-29.429q0-26.857-22.857-40-72-41.714-167.429-63.143t-196-21.429q-116.571 0-208 26.857-13.143 4-22 14.571t-8.857 27.714zM165.143 513.714q0 14.286 10 24.286t24.286 10q4 0 21.143-4.571 69.714-18.857 143.429-18.857 159.429 0 278.857 70.857 13.714 7.429 21.714 7.429 14.286 0 24.286-10t10-24.286q0-22.857-20-34.857-135.429-80.571-313.143-80.571-87.429 0-173.143 24-27.429 7.429-27.429 36.571zM183.429 645.714q0 11.429 7.714 19.714t20.286 8.286q2.857 0 21.143-4.571 75.429-15.429 138.857-15.429 129.143 0 226.857 58.857 10.857 6.286 18.857 6.286 10.857 0 18.857-7.714t8-19.714q0-18.286-17.143-29.143-110.286-65.714-255.429-65.714-76 0-164 19.429-24 5.143-24 29.714z"/>
                        </svg>
                        
                    </a>
                    {{/if}}
                </p>
                <div class="details hidden">
                    <h6>Released: {{releasedate}}</h6>
                    {{#if toptags}}
                    <h6>Tags: 
                        {{#each toptags}}
                        <a href={{url}}>{{name}}</a>
                        {{/each}}
                    </h6>
                    {{/if}}
                    {{#if tracks}}
                    <h6 class="tracks">Tracks:
                        <ol>
                            {{#each tracks}}
                            <li>
                                <a href={{url}}>{{name}}</a> – {{duration}}
                            </li>
                            {{/each}}
                        </ol>
                    </h6>
                    {{/if}}
                </div>
            </figcaption>
    </figure>
</div>