<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <figure class="effect-zoe">
        <img src={{artworkUrl}} alt=""/>
            <figcaption>
                <h5>{{name}}
                    <span><p>{{artist.name}}</p></span>
                </h5>
                <p class="icon-links">
                    {{#if spotifyURI}}
                    <a href="{{spotifyURI}}" target="_blank">
                        <img src="images/svg/spotify.svg" alt="Spotify URL"></img>
                    </a>
                    {{/if}}
                    <a href="{{youtubeLink}}" target="_blank">
                        <img src="images/svg/youtube.svg" alt="Youtube search"></img>
                    </a>
                </p>
                <div class="details hidden">
                    <h6>Released: {{releasedate}}</h6>
                    {{#if toptags}}
                    <h6>Tags: 
                        {{#each toptags}}
                        <a href={{url}}>{{name}}</a>
                        {{/each}}
                    </h6>
                    {{/if}}
                    {{#if tracks}}
                    <h6 class="tracks">Tracks:
                        <ol>
                            {{#each tracks}}
                            <li>
                                <a href={{url}}>{{name}}</a> – {{duration}}
                            </li>
                            {{/each}}
                        </ol>
                    </h6>
                    {{/if}}
                </div>
            </figcaption>
    </figure>
</div>